spring:
  application:
    name: payline
  profiles:
    active: dev

  jpa:
    open-in-view: false
    properties:
      hibernate:
        default_batch_fetch_size: 100

  mybatis:
    mapper-locations: classpath:mapper/**/*.xml
    configuration:
      map-underscore-to-camel-case: true

server:
  port: 8080
  servlet:
    session:
      cookie:
        http-only: true
        same-site: lax
      timeout: 30m
