spring:
  datasource:
    url: ${DB_URL:jdbc:mysql://localhost:3306/payline?useSSL=true&requireSSL=true&serverTimezone=Asia/Seoul}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  h2:
    console:
      enabled: false

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false

server:
  servlet:
    session:
      cookie:
        secure: true

logging:
  level:
    org.hibernate.SQL: warn
    com.payline: info
